In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as Sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [14]:
df=pd.read_csv('spam.csv',encoding='ISO-8859-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [15]:
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [16]:
#  replace null value with  null string

mail_data=df.where((pd.notnull(df)),'')
mail_data.notnull()

        v1    v2  Unnamed: 2  Unnamed: 3  Unnamed: 4
0     True  True        True        True        True
1     True  True        True        True        True
2     True  True        True        True        True
3     True  True        True        True        True
4     True  True        True        True        True
...    ...   ...         ...         ...         ...
5567  True  True        True        True        True
5568  True  True        True        True        True
5569  True  True        True        True        True
5570  True  True        True        True        True
5571  True  True        True        True        True

[5572 rows x 5 columns]

In [30]:
mail_data.drop(['Unnamed: 2'],axis=1,inplace=True)

In [33]:
mail_data.drop(['Unnamed: 3'],axis=1,inplace=True)

In [35]:
mail_data.drop(['Unnamed: 4'],axis=1,inplace=True)

In [38]:
mail_data.rename(columns={'v1':'category','v2':'message'},inplace=True)

In [39]:
mail_data.head()

  category                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [40]:
mail_data.shape

(5572, 2)

In [41]:
# label endoing
# spam=0
# ham=1

mail_data.loc[mail_data['category']=='spam','category']=0
mail_data.loc[mail_data['category']=='ham','category']=1

In [42]:
mail_data.head()

  category                                            message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [43]:
#  spliting the data into text and label

x=mail_data['message']
y=mail_data['category']

In [44]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

In [47]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: category, Length: 5572, dtype: object

In [50]:
# train test split

x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=2,test_size=0.2)

In [64]:
print(x.shape)
print(x_train.shape)
print(x_test.shape)

(5572,)
(4457,)
(1115,)

In [65]:
# fetature extraction
# converting message colum into meaning full numbers
# transform the text data to feature datra that can be used as input to logistic regresssion
# from sklearn.feature_extraction import text
# my_stop_words = text.ENGLISH_STOP_WORDS.union(my_words)

fetaure_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)


x_train_features=fetaure_extraction.fit_transform(x_train)
x_test_fetatures=fetaure_extraction.transform(x_test)


# converting y_train and y_test into int

y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [67]:
print(x_train,x_train_features)

3890    No problem. We will be spending a lot of quali...
5553                          Hahaha..use your brain dear
4366    I like dis sweater fr mango but no more my siz...
3968    Thanks for your message. I really appreciate y...
3771                Does uncle timi help in clearing cars
                              ...
3335                         Then u go back urself lor...
1099    Been up to ne thing interesting. Did you have ...
2514        Ok ill send you with in  &lt;DECIMAL&gt;  ok.
3606                         I have no idea where you are
2575                 Now thats going to ruin your thesis!
Name: message, Length: 4457, dtype: object   (0, 6566)	0.29071829686789585
  (0, 5260)	0.5087678982336444
  (0, 4010)	0.4050685955975014
  (0, 6073)	0.5665799184805557
  (0, 5169)	0.4141795823412651
  (1, 2116)	0.3523355719340784
  (1, 1423)	0.5940444343697558
  (1, 6859)	0.4124100686677272
  (1, 3141)	0.5940444343697558
  (2, 3565)	0.40508027557608417
  (2, 5897)	0.440107047813195
  (2, 4140)	0.440107047813195
  (2, 2845)	0.3382880530026162
  (2, 6332)	0.440107047813195
  (2, 2258)	0.3104925886287087
  (2, 3910)	0.20972094634778068
  (3, 2105)	0.17893490557083572
  (3, 7191)	0.2812743655569581
  (3, 1763)	0.2431679156261037
  (3, 6620)	0.2114722422733664
  (3, 6461)	0.2757210982911898
  (3, 7045)	0.20776132213481782
  (3, 4865)	0.26062868324883703
  (3, 2251)	0.2952674814882996
  (3, 5175)	0.3101007821209402
  :	:
  (4451, 4355)	0.5653315538937795
  (4452, 6856)	0.8442476281269602
  (4452, 4003)	0.5359533024452802
  (4453, 7234)	0.3927126429320925
  (4453, 4634)	0.3513960490954625
  (4453, 4498)	0.36145784624804855
  (4453, 3531)	0.343174962220219
  (4453, 6804)	0.343174962220219
  (4453, 2219)	0.22106589098767157
  (4453, 6140)	0.2989482528799608
  (4453, 1308)	0.28066536885213117
  (4453, 6604)	0.20345602154604067
  (4453, 3041)	0.18713644220806608
  (4453, 6514)	0.250359894393495
  (4454, 3438)	0.41832618559604146
  (4454, 4681)	0.5748166128556557
  (4454, 5726)	0.31680901774368153
  (4454, 2126)	0.46344991793045925
  (4454, 3108)	0.2995290335479616
  (4454, 4045)	0.2995290335479616
  (4455, 3416)	1.0
  (4456, 6508)	0.6008815846567301
  (4456, 5576)	0.6008815846567301
  (4456, 6492)	0.4171566994855619
  (4456, 3032)	0.3222777226479457

In [69]:
model=LogisticRegression()

In [70]:
# tring ml model logistric regretion bwith traing data

model.fit(x_train_features,y_train)

LogisticRegression()

In [85]:
# evaluating the trained model

predict_on_taring_data=model.predict(x_train_features)

accurcy_on_training_data=accuracy_score(y_train,predict_on_taring_data)
print("accurcy on training data:",accurcy_on_training_data*100)

accurcy on training data: 97.1729863136639

In [86]:
predict_on_test_data=model.predict(x_test_fetatures)

accurcy_on_test_data=accuracy_score(y_test,predict_on_test_data)
print("accurcy on test data:",accurcy_on_test_data*100)

accurcy on test data: 95.60538116591928

In [102]:
# building a predictive sysytem

input_mail=["re : first delivery - wheeler operating vance , deal # 643714 has been created and entere..."]
# convert text to feature vectors
input_data_features=fetaure_extraction.transform(input_mail)
# making prediction

prediction=model.predict(input_data_features)
# print(prediction)
if (prediction[0]==1):
    print('Ham')
else:print('Spam')

Ham